

* {
  margin: 0;
  padding: 0;
}

html, 
body, 
p

 {
    font-family: 'Yatra One', sans-serif;
  font-size: 50px;
  font-style: normal;
  line-height: 2;
  color:blue;
background-color:cornsilk;

}

h1 
{
    color:blue;
    text-decoration: none;
    font-size:60px;
    border-bottom: blue 0.125em solid;

}


ul{

    list-style-type: none;
}

.story 
{
width:auto;
height:auto;
    padding: 10px 10px 10px 10px;
  margin-left:100px;
  margin-right:100px;

}

@media screen and (max-width: 550px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 13px;
    line-height: 1.1;
  }

  .container {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:none;
    
  }
  
  .row {
    display:grid;
    grid-template-columns: 1fr;
    grid-template-areas:none;
  }

  
} 